.calendar {
  margin: 10px auto 0;
  width: content-box;

}

.calendar-header > tr {
  th {
    border: 0;
  }
  :first-child {
    text-align: left;

  }
}
.calendar-options {
  display: flex;
  justify-content: space-between;
  select {
    width: 50%;
  }
  button {
    width: 40%;
  }
}

.select-user {
  width: 200px;
}

.calendar-table {
  margin: auto;
  border-collapse: collapse;
}
.calendar-table th, td {
  border: solid 1px gray;
  min-width: 150px;
  max-width: 250px;
  height: 40px;
}
.event-cell {
  padding: 5px;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.delete-symbol {
  cursor: pointer;
}