.event-form-box {
  width: 30%;
  margin: 20px auto auto;
  input, select, button {
    outline: none;
  }
}
.option-box {
  width: content-box;
  margin: 25px 5px;

  display: flex;
  justify-content: space-between;
  input, select {
    width: 50%;
    height: 40px;
    border-radius: 7px;
    border: 1px darkgray solid;
    background-color: #F4FFE3;
  }
}
.form-action-box {
  float: right;
}